# Porte esposte sul computer
API_PORT=8080
PHPMYADMIN_PORT=8081

# Database didattico
DB_DATABASE=bank
DB_USERNAME=bank
DB_PASSWORD=bank
DB_ROOT_PASSWORD=root

# Per Angular in laboratorio puoi limitare l'origine, ad esempio http://localhost:4200
CORS_ORIGIN=*

# Deploy con Kamal su GitHub Container Registry
KAMAL_HOST=203.0.113.10
KAMAL_DOMAIN=
KAMAL_REGISTRY_SERVER=ghcr.io
KAMAL_IMAGE=tuo-utente-github/mini-banking-api
KAMAL_REGISTRY_USERNAME=tuo-utente-github
KAMAL_REGISTRY_PASSWORD=
